<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MRD.OwinMiddlewares.EnableApiKeyCheck" value="True"/>
		<add key="MRD.OwinMiddlewares.EnableExceptionLogger" value="True"/>
		<add key="MRD.OwinMiddlewares.EnableRequestBodyLogger" value="True"/>
		<add key="MRD.OwinMiddlewares.EnableResponseBodyLogger" value="True"/>
	</appSettings>
</configuration>