<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="logFile" fileName="c:/logs/${var:LogDirName}/main-${level}.log"
            archiveEvery="Day"
            archiveFileName="c:/logs/${var:LogDirName}/archive-${longdate}-${level}-{#}.zip"
            enableArchiveFileCompression="true"
            maxArchiveFiles="99999"
            archiveNumbering="Sequence"
            encoding="Unicode"
            layout="${longdate} | ${uppercase:${level}} | ${logger}${newline}
REQUEST ID: ${mdlc:RequestId}${newline}
${message}${newline}
Request:${newline}
  Url: ${mdlc:URL}${newline}
  Method: ${mdlc:Method}${newline}
  QueryString: ${mdlc:QueryString}${newline}
  LocalIp: ${mdlc:LocalIpAddress}${newline}
  RemoteIp: ${mdlc:RemoteIpAddress}${newline}
  XForwardedFor: ${mdlc:XForwardedFor}${newline}
STACK TRACE: ${stacktrace}${newline}
EXCEPTION: ${exception}${newline}
CALLSITE: ${callsite}${newline}
#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#--#${newline}
${logseparator}"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
  </rules>
</nlog>
